[submodule "pack/greg0ire/start/fugitive"]
	path = pack/greg0ire/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/greg0ire/start/pyflakes"]
	path = pack/greg0ire/start/pyflakes
	url = https://github.com/kevinw/pyflakes-vim.git
[submodule "pack/greg0ire/start/solarized"]
	path = pack/greg0ire/start/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "pack/greg0ire/start/handlebars"]
	path = pack/greg0ire/start/handlebars
	url = https://github.com/nono/vim-handlebars.git
[submodule "pack/greg0ire/start/nerdtree"]
	path = pack/greg0ire/start/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "pack/greg0ire/start/nginx.vim"]
	path = pack/greg0ire/start/nginx.vim
	url = https://github.com/vim-scripts/nginx.vim.git
[submodule "pack/greg0ire/start/objj"]
	path = pack/greg0ire/start/objj
	url = http://github.com/nanki/vim-objj.git
[submodule "pack/greg0ire/start/vim-less"]
	path = pack/greg0ire/start/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "pack/greg0ire/start/camelCaseMotion"]
	path = pack/greg0ire/start/camelCaseMotion
	url = https://github.com/bkad/CamelCaseMotion.git
[submodule "pack/greg0ire/start/vim-indent-object"]
	path = pack/greg0ire/start/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
[submodule "pack/greg0ire/start/matchit"]
	path = pack/greg0ire/start/matchit
	url = https://github.com/vim-scripts/matchit.zip
[submodule "pack/greg0ire/start/argtextobj"]
	path = pack/greg0ire/start/argtextobj
	url = https://github.com/vim-scripts/argtextobj.vim
[submodule "pack/greg0ire/start/vim-twig"]
	path = pack/greg0ire/start/vim-twig
	url = https://github.com/beyondwords/vim-twig
[submodule "pack/greg0ire/start/taglist"]
	path = pack/greg0ire/start/taglist
	url = https://github.com/vim-scripts/taglist.vim
[submodule "pack/greg0ire/start/auto_mkdir"]
	path = pack/greg0ire/start/auto_mkdir
	url = https://github.com/vim-scripts/auto_mkdir.git
[submodule "pack/greg0ire/start/jslint"]
	path = pack/greg0ire/start/jslint
	url = https://github.com/hallettj/jslint.vim
[submodule "pack/greg0ire/start/bufkill"]
	path = pack/greg0ire/start/bufkill
	url = https://github.com/vim-scripts/bufkill.vim
[submodule "pack/greg0ire/start/DBGPavim"]
	path = pack/greg0ire/start/DBGPavim
	url = https://github.com/brookhong/DBGPavim
[submodule "pack/greg0ire/start/vim-php-cs-fixer"]
	path = pack/greg0ire/start/vim-php-cs-fixer
	url = https://github.com/stephpy/vim-php-cs-fixer.git
[submodule "pack/greg0ire/start/gundo"]
	path = pack/greg0ire/start/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "pack/greg0ire/start/snipmate"]
	path = pack/greg0ire/start/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "pack/greg0ire/start/surround"]
	path = pack/greg0ire/start/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/greg0ire/start/syntastic"]
	path = pack/greg0ire/start/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "pack/greg0ire/start/gitgutter"]
	path = pack/greg0ire/start/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "pack/greg0ire/start/tabular"]
	path = pack/greg0ire/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "pack/greg0ire/start/vim-repeat"]
	path = pack/greg0ire/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "pack/greg0ire/start/eunuch"]
	path = pack/greg0ire/start/eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "pack/greg0ire/start/sleuth"]
	path = pack/greg0ire/start/sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule "pack/greg0ire/start/commentary"]
	path = pack/greg0ire/start/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/greg0ire/start/airline"]
	path = pack/greg0ire/start/airline
	url = https://github.com/bling/vim-airline
[submodule "pack/greg0ire/start/vim-unimpaired"]
	path = pack/greg0ire/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "pack/greg0ire/start/bufferline"]
	path = pack/greg0ire/start/bufferline
	url = https://github.com/bling/vim-bufferline
[submodule "pack/greg0ire/start/php-namespace"]
	path = pack/greg0ire/start/php-namespace
	url = https://github.com/arnaud-lb/vim-php-namespace.git
[submodule "pack/greg0ire/start/phpcomplete"]
	path = pack/greg0ire/start/phpcomplete
	url = https://github.com/shawncplus/phpcomplete.vim.git
[submodule "pack/greg0ire/start/tmuxline"]
	path = pack/greg0ire/start/tmuxline
	url = https://github.com/edkolev/tmuxline.vim
[submodule "pack/greg0ire/start/neocomplete"]
	path = pack/greg0ire/start/neocomplete
	url = https://github.com/Shougo/neocomplete.vim
[submodule "pack/greg0ire/start/puppet"]
	path = pack/greg0ire/start/puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule "pack/greg0ire/start/dbext.vim"]
	path = pack/greg0ire/start/dbext.vim
	url = https://github.com/vim-scripts/dbext.vim
[submodule "pack/greg0ire/start/easy-align"]
	path = pack/greg0ire/start/easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule "pack/greg0ire/start/zeal"]
	path = pack/greg0ire/start/zeal
	url = https://github.com/KabbAmine/zeavim.vim
[submodule "pack/greg0ire/start/yaml"]
	path = pack/greg0ire/start/yaml
	url = https://github.com/stephpy/vim-yaml
[submodule "pack/greg0ire/start/fzf"]
	path = pack/greg0ire/start/fzf
	url = git@github.com:junegunn/fzf.vim.git
[submodule "pack/greg0ire/start/argwrap"]
	path = pack/greg0ire/start/argwrap
	url = git@github.com:FooSoft/vim-argwrap.git
[submodule "pack/greg0ire/start/auto-pairs"]
	path = pack/greg0ire/start/auto-pairs
	url = git@github.com:jiangmiao/auto-pairs.git
[submodule "pack/greg0ire/start/greplace"]
	path = pack/greg0ire/start/greplace
	url = git@github.com:skwp/greplace.vim.git
[submodule "pack/greg0ire/start/phpactor"]
	path = pack/greg0ire/start/phpactor
	url = git@github.com:phpactor/phpactor.git
[submodule "pack/greg0ire/start/vim-airline"]
	path = pack/greg0ire/start/vim-airline
	url = git@github.com:vim-airline/vim-airline-themes.git
