<?xml version="1.0"?>
<!DOCTYPE xliff PUBLIC "-//XLIFF//DTD XLIFF//EN" "http://www.oasis-open.org/committees/xliff/documents/xliff.dtd">
<xliff version="1.0">
  <file original="global" source-language="en" datatype="plaintext" date="2009-04-14T11:34:12Z">
    <header />
    <body>
       ${1}
    </body>
  </file>
</xliff>
