public function testGet${1:MemberVariable}()
{
    $this->assertSame(
        $this->${2:systemUnderTest},
        $this->$2->set$1($value = ${3})
    );
    $this->assertSame(
        $value,
        $this->$2->get$1()
    );
}
